<!DOCTYPE html>
<head>
  <meta charset="utf-8">
  <title><%= title %></title>
  <meta name="description" content="">
  <!-- Mobile viewport optimized: h5bp.com/viewport -->
  <meta name="viewport" content="width=device-width">
   <link rel="stylesheet" href="/css/reset.css">
  <link rel="stylesheet" href="/css/style.css">
  <script src="/js/libs/modernizr-2.5.3.min.js"></script>
  <script type="text/javascript" src="/js/libs/jquery-1.7.1.min.js"></script>
</head>
<body>
  <div class="wrapper">
    <%- body %>
    <footer></footer>
  </div>
</body>
</html>
