/*---------------------------------------------------

version 1.o
Dated: 18/03/2012
by: bd

---------------------------------------------------*/

/*------------General Css-------------------------*/


body {
  color: #555555;
  font-size: 14px;
  background-color:;
  font-family: 'KlavikaRegular-OSF', arial, sans-serif;
  background:#f8f8f8 url(../img/bkg.jpg) repeat left top;
}

ul {
  list-style: none;
}

a {
  color: ;
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}


.fl {
  float: left;
}

.fr {
  float: right;
}

.clear {
  overflow: hidden;
}

.noborder {
  border: none !important;
}

.noMargin {
  margin: 0 !important;
}

.noMarginRght {
  margin-right: 0 !important;
}

.alignLeft {
  text-align: left !important;
}

/*------------Font face---------------------------*/

@font-face {
  font-family: 'Freehand575Regular';
  src: url('../fonts/freehand575-webfont.eot');
  src: url('../fonts/freehand575-webfont.eot?#iefix') format('embedded-opentype'),
       url('../fonts/freehand575-webfont.woff') format('woff'),
       url('../fonts/freehand575-webfont.ttf') format('truetype'),
       url('../fonts/freehand575-webfont.svg#Freehand575Regular') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'KlavikaRegular-OSF';
  src: url('../fonts/klavikaregular-osf.eot');
  src: url('../fonts/klavikaregular-osf.eot?#iefix') format('embedded-opentype'),
       url('../fonts/klavikaregular-osf.woff') format('woff'),
       url('../fonts/klavikaregular-osf.ttf') format('truetype'),
       url('../fonts/klavikaregular-osf.svg#klavikaregular-osf') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'KlavikaRegCaps-SC';
  src: url('../fonts/klavikaregcaps-sc.eot');
  src: url('../fonts/klavikaregcaps-sc.eot?#iefix') format('embedded-opentype'),
       url('../fonts/klavikaregcaps-sc.woff') format('woff'),
       url('../fonts/klavikaregcaps-sc.ttf') format('truetype'),
       url('../fonts/klavikaregcaps-sc.svg#klavikaregcaps-sc') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'KlavikaMedCaps-SC';
  src: url('../fonts/klavikamedcaps-sc.eot');
  src: url('../fonts/klavikamedcaps-sc.eot?#iefix') format('embedded-opentype'),
       url('../fonts/klavikamedcaps-sc.woff') format('woff'),
       url('../fonts/klavikamedcaps-sc.ttf') format('truetype'),
       url('../fonts/klavikamedcaps-sc.svg#klavikamedcaps-sc') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'KlavikaLight-OSF';
  src: url('../fonts/klavikalight-osf.eot');
  src: url('../fonts/klavikalight-osf.eot?#iefix') format('embedded-opentype'),
       url('../fonts/klavikalight-osf.woff') format('woff'),
       url('../fonts/klavikalight-osf.ttf') format('truetype'),
       url('../fonts/klavikalight-osf.svg#klavikalight-osf') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'KlavikaBold-Bold';
  src: url('../fonts/klavikaboldbold1.eot');
  src: url('../fonts/klavikaboldbold1.eot?#iefix') format('embedded-opentype'),
       url('../fonts/klavikaboldbold1.woff') format('woff'),
       url('../fonts/klavikaboldbold1.ttf') format('truetype'),
       url('../fonts/klavikaboldbold1.svg#klavikaboldbold1') format('svg');
  font-weight: normal;
  font-style: normal;
}



/*------------general---------------------------*/


.wrapper {
  width: 100%;
  overflow: hidden;

}

h1 {


}

h2 {
  color: #FFFFFF;
  font-size: 32px;
  font-weight: normal;
  font-family: 'KlavikaMedCaps-SC';
  text-shadow: 0px 1px 0px #9f1628;

}

h3 {

}

.bttn {
  color: #666;
  border: 1px solid #a5a5a6;
  font-family: 'KlavikaMedCaps-SC';
  font-size: 15px;
  padding: 6px 12px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  background: #fcda02; /* Old browsers */
  background: -moz-linear-gradient(top,  #fcda02 0%, #dadce1 0%, #eeeff1 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fcda02), color-stop(0%,#dadce1), color-stop(100%,#eeeff1)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  #fcda02 0%,#dadce1 0%,#eeeff1 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  #fcda02 0%,#dadce1 0%,#eeeff1 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  #fcda02 0%,#dadce1 0%,#eeeff1 100%); /* IE10+ */
  background: linear-gradient(to bottom,  #fcda02 0%,#dadce1 0%,#eeeff1 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fcda02', endColorstr='#eeeff1',GradientType=0 ); /* IE6-9 */
  box-shadow: 0 1px 0 #f5f6f7 inset;
  text-shadow: 0px 1px 0px #FFFFFF;
}

a.bttn:hover, a.bttn:focus {
  color: #8b4602;
}

.ybttn {
  color: #8b4602;
  border: 1px solid #ba8707;
  font-family: 'KlavikaMedCaps-SC';
  font-size: 15px;
  padding: 6px 12px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  background: #fcda02; /* Old browsers */
  background: -moz-linear-gradient(top,  #fcda02 0%, #fddf02 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fcda02), color-stop(100%,#fddf02)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  #fcda02 0%,#fddf02 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  #fcda02 0%,#fddf02 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  #fcda02 0%,#fddf02 100%); /* IE10+ */
  background: linear-gradient(to bottom,  #fcda02 0%,#fddf02 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fcda02', endColorstr='#fddf02',GradientType=0 ); /* IE6-9 */
  box-shadow: 0 1px 0 #FEE903 inset;
  text-shadow: 0px 1px 0px #FFFFFF;
}

a.ybttn:hover, a.ybttn:focus {
  color: #8b4602;
}

.layout {
  width: 860px;
  margin: 0 auto;
}



/*------------header---------------------------*/

header {
  overflow: hidden;
  width: 100%;
  margin: 0 auto;
  height: 345px;
  border-bottom: 1px solid #c17a91;
  background: url(../img/blk-bkg.jpg) repeat left top;
}

header ul {
  overflow: hidden;
  margin-right: 20px;
  padding: 20px 0 12px;
}

header ul li, .header ul li a {
  float: right;
}

header ul > li:first-child a {
  margin-left: 10px;
}

header ul li a:hover, header ul li a:focus {
  color: #8b4602;
}

header ul li a {
  font-size: 16px;
  color: #fefefe;
  font-family: 'KlavikaMedCaps-SC';
}

header ul li .workLnk, header ul li .lnk {
  margin-right: 15px;
}


header .action {
  width: 860px;
  margin: 20px auto;
  text-align: center;
}

header .action a {
  color: #FFFFFF;
  width: 341px;
  display: block;
  font-size: 18px;
  padding: 18px 0;
  margin: 0 auto;
  position: relative;
  text-align: center;
  border: 1px solid #0495ba;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  text-transform: uppercase;
  font-family: 'KlavikaBold-Bold';
   text-shadow: 0px 1px 0px #159abb;
  box-shadow: inset 0 1px 0 #fefefe,  0 1px 1px #373c3c;
  background: #fcda02; /* Old browsers */
  background: -moz-linear-gradient(top,  #fcda02 0%, #00ccff 0%, #2cd1fa 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fcda02), color-stop(0%,#00ccff), color-stop(100%,#2cd1fa)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  #fcda02 0%,#00ccff 0%,#2cd1fa 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  #fcda02 0%,#00ccff 0%,#2cd1fa 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  #fcda02 0%,#00ccff 0%,#2cd1fa 100%); /* IE10+ */
  background: linear-gradient(to bottom,  #fcda02 0%,#00ccff 0%,#2cd1fa 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fcda02', endColorstr='#2cd1fa',GradientType=0 ); /* IE6-9 */
}

header .action span {
  left: 45px;
  top: 19px;
  width: 28px;
  position: absolute;
  background: url(../img/uploadIcon.png) no-repeat left top;
}

header .action h1 {
  color: #FFFFFF;
  font-size: 29px;
  margin-bottom: 5px;
  font-weight: normal;
}

header .action strong {
  font-size: 34px;
  font-weight: normal;
  font-family: 'KlavikaBold-Bold';
}

header .action p {
  color: #d50b29;
  font-size: 19px;
  margin-top: 0px;
  font-family: 'KlavikaLight-OSF';
}

/*------------main---------------------------*/

.main {

}

.main h2{
  margin: 36px 0;
  text-align: center;
}

/*--demo--*/

#demo {
  width: 100%;
  border-bottom: 1px solid #FFFFFF;
  background: url(../img/red-bkg.jpg) repeat left top;
}

#demo h2 {
}

#demo .holder {
  width: 860px;
  margin: 0 auto 36px;
  position: relative;
}

.sampleApp {
  float: left;
  width: 385px;
  height: 726px;
  background: url(../img/appholder.png) no-repeat left top;
}

.sampleApp div {
  top: 124px;
  left: 33px;
  width: 322px;
  height: 480px;
  position: relative;
  background: url(../img/app.jpg) no-repeat left top;
}

#demo .info {
  width: 455px;
  float: right;
  margin-top: 112px;
}

#demo .info h3 {
  color: #000000;
  font-size: 38px;
  margin: 0px;
  text-align: center;
  font-weight: normal;
  text-shadow: 0px 1px 0px #ec6375;
  font-family: 'KlavikaLight-OSF';
}

.info ul {
  width: 455px;
  padding: 0;
}

.info ul li, .info ul li a {
  float: left;
}

.info ul li a {
  width: 214px;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 0;
  text-align: center;
  font-family: 'KlavikaMedCaps-SC';
  border: 3px solid #ae1632;
}

.info ul li .active {
  color: #333333;
  border: none;
  padding: 13px 0;
  font-family: 'KlavikaMedCaps-SC';
  background-color: #fee003;
}


.info ul li:first-child a {
  margin-right: 20px;
}

 #developer-content, #designer-content {
  float: left;
  width: 100%;
}

#developer-content .note, #designer-content .note {
  color: #FFFFFF;
  font-size: 16px;
  line-height: 24px;
  margin: 18px 0 0;
  width: 455px;
  padding: 0 5px;
  font-family: 'KlavikaRegular-OSF';
}

.points {
  margin: 18px 0;
}

.info .points li {
  color: #eeeeee;
  font-size: 14px;
  padding: 3px 5px;
  float: none;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  background-color: #d81d37;
  margin-bottom: 5px;
  border: 1px solid #E52A44;
}

 .demoActions {
  overflow: hidden;
  width: 455px;
}

.demoActions a {
  color: #7a7a7a;
  float: left;
  width: 201px;
  height: 68px;
  line-height: 62px;
  font-size: 18px;
  text-align: center;
  text-shadow: 0px -1px 0px #ffffff;
  font-family: 'KlavikaBold-Bold';
  background: url(../img/actionLnkBkg.png) no-repeat left top;
}

.demoActions > a:first-child {
  margin-right: 20px;
}

.demoActions .pointer {
  left: 407px;
  top:520px;
  width: 37px;
  height: 49px;
  position: absolute;
  background: url(../img/leftArrow.png) no-repeat left top;
}

/*--working--*/

#working {
  border-bottom: 1px solid #dcdcdc;
}

#working h2 {
  color: #333333;
  margin: 36px 0 18px;
  text-shadow: 0px 1px 0px #ffffff;
}

.note {
  width: 860px;
  font-size: 22px;
  color: #555555;
  line-height: 28px;
  margin: 0 auto;
}

#working .details {
  width: 860px;
  margin: 10px auto 36px;
}

#working .details ul {
  float: left;
  width: 409px;
  padding: 0;
  text-align: center;
}


#working .details .code {
  margin: 0;
}

#working .details ul:first-child {
  border-right: 1px solid #ccd9df;
}

#working .details li {
  margin-bottom: 8px;
  font-size: 15px;
  list-style: disc inside none;
}

#working .details .heading {
  color: #333333;
  list-style: none;
  font-size: 22px;
  font-family: 'KlavikaMedCaps-SC';
}

/*--pricing--*/

#pricing {
  border-bottom: 1px solid #ffffff;
  background: #f8f8f8 url();
}

#pricing h2 {
  padding-top: 36px;
  margin: 0px 0 18px 42px;
  color: #333333;
  text-shadow: 0px 1px 0px #ffffff;
}

#pricing .free {
  text-align: center;
  margin-bottom: 36px;
}

#pricing .free .icon {
  width: 190px;
  height: 63px;
  margin: 0 auto;
  background: url(../img/freecon.png) no-repeat center;
}

#pricing .free .heading {
  font-size: 44px;
  color: #333;
  margin: 18px 0 0px
}

#pricing .free .note {
  font-size: 18px;
  color: #555;
}

#pricing .free .info {
  color: #555;
  font-size: 19px;
  margin: 10px 0;
  font-family: 'KlavikaBold-Bold';
}

#pricing .free a {
  color: #cf5e13;
  width: 231px;
  display: block;
  margin: 0 auto;
  font-size: 22px;
  padding: 9px 0;
  border: 1px solid #efd303;
  box-shadow: inset 0 1px 0 #FEE903,  0 1px 1px #d8d9da;
}

/*--roadmap--*/

#roadmap {
  width: 100%;
  background: url(../img/blk-bkg.jpg) repeat left top;
}

#roadmap h2 {
  padding-top: 36px;
  margin: 0px 0 18px 0px;
}

#roadmap .note {
  color: #cccccc;
}

#roadmap .set {
  width: 860px;
  margin: 18px auto 0;
  padding-bottom: 18px;
}

.set .col {
  width: 273px;
  float: left;
  margin: 0px;
  padding: 0;
  position: relative;
  text-align: center;
}

.col .icon {
  width: 100%;
  height: 130px;
  border: 1px solid #ffffff;
  background-color: ;
  background:#eeeeee url();
}

.col .icon span {
  position: absolute;
  width: 12px;
  height: 10px;
  left: 132px;
  top: 131px;
  background: url(../img/downArrow.png) no-repeat center top;
}

.col .heading {
  color: #fefefe;
  font-size: 22px;
  margin: 18px 0 10px;
  font-family: 'KlavikaRegCaps-SC';
}

.col li {
  color: #888888;
  font-size: 16px;
}

.set .middle {
  margin: 0 17px;
}

/*------------login / Signup---------------------------*/

.header {
  padding: 18px 0 36px;
}

#logo {
  color: #333333;
  font-size: 36px;
  text-align: center;
  font-family: 'KlavikaMedCaps-SC';
}

#login {
  overflow: hidden;
  padding-bottom: 36px;
}

.actionForm {
  width: 455px;
  float: right;
  margin: 112px 0 0 0;
}

.actionForm .holder {
  padding: 5px 0;
  border-bottom: 3px solid #555555;
}

.actionForm .holder h3 {
  float: left;
  margin: 0px;
  color: #333333;
  font-size: 32px;
  font-weight: normal;
  font-family: 'KlavikaMedCaps-SC';
}

.actionForm .holder a {
  float: right;
  margin-top: 5px;
}

.actionForm .note {
  font-size: 17px;
  margin: 18px 0 10px;
}

.actionForm form {}

.inputField {
  width: 445px;
  color: #000000;
  display: block;
  font-size: 21px;
  margin: 5px 0 0;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  background-color: #ffffff;
  border: 1px solid #c4c1c2;
  padding: 12px 0 12px 8px;
  box-shadow: 0 1px 1px #d8d8d8 inset;
  font-family: 'KlavikaRegular-OSF',arial,sans-serif;
}

.submitBttn {
  color: #000000;
  padding: 20px 12px;
  width: 429px;
  border: 1px solid #dec405;
  text-align: center;
  margin-top: 10px;
  text-shadow: none;
  box-shadow: 0 1px 0 #fef5b4 inset, 0 1px 1px #d1d0d2;
}

/*------------Preview---------------------------*/

#preview {}

#preview h2 {
  color: #333;
  text-shadow: 0px 1px 0px #ffffff;
}

#preview .actionForm h4 {
  color: #333;
  font-size: 32px;
  margin: 3px 0;
  font-weight: normal;
  font-family: 'KlavikaLight-OSF';
}

#preview .actionForm .note {
  width: 455px;
}

.downloads {
}

.downloads a {
  float: left;
}

.downloads .action {
  width: 215px;
  padding: 14px 0;
  text-align: center;
  color: #000000;
  border: 1px solid #dec405;
  box-shadow: 0 1px 0 #fef5b4 inset, 0 1px 1px #d1d0d2;
}

.downloads a:first-child {
  margin-right: 20px;
}

.downloads .noAction {
  padding: 14px 0;
  text-align: center;
  width: 453px;
  margin-top: 18px;
}

/*------------listing---------------------------*/

.header .nav {
  float: right;
  margin: 8px 0 0 0;
}

.header .nav li, .header .nav li a {
  float: left;
}

.header .nav li .lnk {
  font-size: 21px;
  margin: 4px 20px 0 20px;
  color: #d6102a;
}

#listing {
  margin-bottom: 36px;
  position: relative;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  background-color: #fff;
  box-shadow: 0 0px 2px #dedddc;
  border: 1px solid #DEDDDC;
}

#listing h2 {
  width: 860px;
  margin: 0 auto;
  height: 115px;
  font-size: 47px;
  line-height: 115px;
  background: url(../img/headerBkg.png) no-repeat left top;
}

.uploadAction {
  margin: 36px 0;
  text-align: center;
}

.uploadAction a {
  color: #FFFFFF;
  width: 341px;
  display: block;
  font-size: 18px;
  padding: 18px 0;
  margin: 0 auto;
  position: relative;
  text-align: center;
  border: 1px solid #0495ba;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  text-transform: uppercase;
  font-family: 'KlavikaBold-Bold';
   text-shadow: 0px 1px 0px #159abb;
  box-shadow: inset 0 1px 0 #fefefe,  0 1px 1px #d8d9da;
  background: #fcda02; /* Old browsers */
  background: -moz-linear-gradient(top,  #fcda02 0%, #00ccff 0%, #2cd1fa 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fcda02), color-stop(0%,#00ccff), color-stop(100%,#2cd1fa)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  #fcda02 0%,#00ccff 0%,#2cd1fa 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  #fcda02 0%,#00ccff 0%,#2cd1fa 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  #fcda02 0%,#00ccff 0%,#2cd1fa 100%); /* IE10+ */
  background: linear-gradient(to bottom,  #fcda02 0%,#00ccff 0%,#2cd1fa 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fcda02', endColorstr='#2cd1fa',GradientType=0 ); /* IE6-9 */
}

.uploadAction a span {
  left: 45px;
  top: 19px;
  width: 28px;
  position: absolute;
  background: url(../img/uploadIcon.png) no-repeat left top;
}

.tip {
  top: 102px;
  left: 147px;
  width: 574px;
  font-size: 25px;
  position: absolute;
  height: 127px;
  background: url(../img/tips.png) no-repeat left top;
}

.items {
  margin: 0 20px;
  border-top: 1px solid #e0e0e1;
}

.items table {
  width: 820px;
  margin: 0 auto;
  text-align: left;
}

table tr {
  border-bottom: 1px solid #e0e0e1;
}

table th {
  font-size: 18px;
  font-weight: normal;
  padding: 8px 0;
  font-family: 'KlavikaBold-Bold';
}

table td {
  padding: 12px 0;
  vertical-align: middle;
}

table td.title {
  width: 340px;
  color: #000000;
  font-size: 20px;
  padding-left: 40px;
  font-family: 'KlavikaLight-OSF';
  background: url(../img/projectIcon.png) no-repeat left center;
}

table td.date {
  font-size: 18px;
  color: #888888;
}

table td.action a {
  width: 141px;
  height: 31px;
  display: block;
  text-indent: -999999px;
  background: url(../img/listActions.png) no-repeat left top;
}

table td.action a:hover, table td.action a:focus {
  background-position: left -44px;
}

#listing .info {
  text-align: center;
  padding: 36px 0;
  font-size: 21px;
  color: #333333;
}

#listing .info a {
  color: #d6102a;
}


/*------------Works---------------------------*/

#work {
  margin-bottom: 36px;
  position: relative;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  background-color: #fff;
  box-shadow: 0 0px 2px #dedddc;
  border: 1px solid #DEDDDC;
}


#work h2 {
  width: 860px;
  margin: 0 auto;
  height: 115px;
  font-size: 47px;
  line-height: 63px;
  padding-top: 10px;
  background: url(../img/headerBkg.png) no-repeat left top;
}

#work h2 span {
  color: #FEFEFE;
  display: block;
  font-family: 'KlavikaMedCaps-SC';
  font-size: 22px;
  margin-top: -22px;
}

.controls {
  margin: 36px 0 0;
}

.controls .blk {}

.blk h3 {
  margin: 0;
  color: #333333;
  font-size: 32px;
  font-weight: normal;
  text-align: center;

}

.blk .rulz {
  margin: 18px 0 36px;
  background: url(../img/shadowDivider.jpg) no-repeat left top;
}

.rulz p {
  text-align: center;
  color: #333333;
  font-size: 21px;
}

.rulz p span {
  color: #d50b29;
}

.rulz .thumb {
  padding: 0 10px;
}

.rulz .thumb h4 {
  margin: 0;
  font-size: 28px;
  font-weight: normal;
  font-family: 'KlavikaMedCaps-SC';
}

.thumb .col {
  float: left;
  width: 267px;
  text-align: center;
}

.col .holder {
  height: 541px;
  background: url(../img/holders.jpg) no-repeat left top;
}

.psd {
  margin: 0 19px;
}

.psd .holder {
  background-position: -290px 0;
}

.xcode .holder {
  background-position: -576px 0;
}

#imageview .design .holder div {
  background: url("../img/designImg.jpg") no-repeat scroll 27px 103px transparent;
  height: 441px;
  width: 253px;
}

#imageview .psd .holder div {
  background: url("../img/psdImg.png") no-repeat scroll 17px 100px transparent;
  height: 388px;
  width: 256px;
}

#imageview .xcode .holder div {
  background: url("../img/xcodeImg.png") no-repeat scroll 20px 112px transparent;
  height: 441px;
  width: 253px;
}

#labelview .design .holder div {
  background: url("../img/designLabel.jpg") no-repeat scroll 78px 250px transparent;
  height: 441px;
  width: 253px;
}

#labelview .psd .holder div {
  background: url("../img/psdLabel.png") no-repeat scroll 17px 100px transparent;
  height: 388px;
  width: 256px;
}

#labelview .xcode .holder div {
  background: url("../img/xcodeLabel.png") no-repeat scroll 20px 112px transparent;
  height: 441px;
  width: 253px;
}

#buttonview .design .holder div {
  background: url("../img/designButton.jpg") no-repeat scroll 45px 238px transparent;
  height: 441px;
  width: 253px;
}

#buttonview .psd .holder div {
  background: url("../img/psdButton.png") no-repeat scroll 17px 95px transparent;
  height: 509px;
  width: 256px;
}

#buttonview .xcode .holder div {
  background: url("../img/xcodeButton.png") no-repeat scroll 20px 112px transparent;
  height: 441px;
  width: 253px;
}

#tfview .design .holder div {
  background: url("../img/designTf.jpg") no-repeat scroll 27px 102px transparent;
  height: 441px;
  width: 253px;
}

#tfview .psd .holder div {
  background: url("../img/psdTf.png") no-repeat scroll 17px 95px transparent;
  height: 509px;
  width: 256px;
}

#tfview .xcode .holder div {
  background: url("../img/xcodeTf.png") no-repeat scroll 20px 112px transparent;
  height: 441px;
  width: 253px;
}

#barview .design .holder div {
  background: url("../img/designBar.jpg") no-repeat scroll 27px 102px transparent;
  height: 441px;
  width: 253px;
}

#barview .psd .holder div {
  background: url("../img/psdBar.png") no-repeat scroll 17px 95px transparent;
  height: 509px;
  width: 256px;
}

#barview .xcode .holder div {
  background: url("../img/xcodeBar.png") no-repeat scroll 20px 112px transparent;
  height: 441px;
  width: 253px;
}


/*------------Account---------------------------*/

.whiteLayout {
  margin-bottom: 36px;
  position: relative;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  background-color: #fff;
  box-shadow: 0 0px 2px #dedddc;
  border: 1px solid #DEDDDC;
}

.whiteLayout h2 {
  width: 860px;
  margin: 0 auto;
  height: 115px;
  font-size: 47px;
  line-height: 115px;
  background: url(../img/headerBkg.png) no-repeat left top;
}


.formField {
  width: 540px;
  margin: 36px auto;
}

.formField div {
  margin: 0 0 10px 0;
}

.formField label {
  color: #555555;
  float: left;
  font-size: 16px;
  margin-right: 20px;
  text-align: right;
  width: 141px;
  margin-top: 3px;
}

.formField span {
  color: #333333;
  float: left;
  font-size: 20px;
}



















