<% layout('../layout') -%>
<header>
  <% if(user) {%>
  <ul class="nav">
    <li><a href="/logout" class="">Logout</a></li>
    <li><a href="/convert" class="ybttn"><%= user.credits %> Credits</a></li>
    <li><a href="/account" class="lnk">Hi <%= user.username %></a></li>
  </ul>
  <% } else { %>
  <ul>
    <li><a href="/register" class="bttn">Create Account</a></li>
    <li><a href="/login" class="ybttn">Login</a></li>
    <li><a href="/howitworks" class="workLnk">How it works</a></li>
  </ul>
  <% } %>
  <div class="action">
    <a href="#" id="upload">UPLOAD DESIGN PSD</a>
    <h1>
      for <strong>iPhone</strong> apps
      <br />
      &amp;
      <br />
      get <strong>Xcode</strong> project
    </h1>
    <p>runs in simulator and iPhone</p>
  </div>
</header>
<div class="main">
  <div class="clear" id="demo">
    <h2>Sample / Demos</h2>
    <div class="clear holder">
      <div class="sampleApp">
        <div>&nbsp;</div>
      </div>
      <div class="info" >
        <h3>Break down the barriers for design and developemnt</h3>
        <ul class="clear">
          <li><a href="#developer" class="active" onClick="selectTab(this, 0);">Developer</a></li>
          <li><a href="#designer" onClick="selectTab(this, 1)">Designer</a></li>
        </ul>
        <div id="developer-content" name="developer">
          <p class="note">
            Get xib file and assets as Xcode project for your app design.
            *Currently, each PSD file gives you a new Xcode project. <br />
            Copy &amp; delete your way to get a complete layout of you app. Will be automated soon.  
          </p>
          <ul class="points">
            <li>Increase your productivity instantly by building interfaces for your apps. </li>
            <li>Get design assets (images/fonts).</li>
            <li>Don't worry about design changes</li>
          </ul>
        </div>
        <div id="designer-content" style="display:none;" name="designer"> 
          <p class="note">
            By following simple naming conventions and arranging layers in predefined groups 
            you can give super powers to your Psd files.
          </p>
          <ul class="points">
            <li>Instantly convert your designs into Xcode projects </li>
            <li>Slices Psd and provide assets</li>
            <li>Update designs without effecting the development time </li>
          </ul>
        </div>
        <div class="demoActions">
          <a href="https://dl.dropbox.com/u/8835185/mayhem%20demo/1351673260636.zip">Xcode Project</a>
          <a href="https://dl.dropbox.com/u/8835185/mayhem%20demo/source1.psd">Psd Design</a>
          <span class="pointer">&nbsp;</span>
        </div>
        <div class="controls">
          <label>Supports:</label> 
          <a href="" class="bttn">UI ImageView</a>
          <a href="" class="bttn">UI Label</a>
          <a href="" class="bttn">UI Button</a>
          <a href="" class="bttn">UI View</a>
          <a href="" class="bttn">UI TextField</a>
          <a href="" class="bttn">UI NavigationBar</a>
        </div>
      </div>
    </div>
  </div>
  <div id="working">
    <h2>How it Works</h2>
    <p class="note">
      Get the interface for your apps in minutes. Arrange your Psd layers as per the guidelines and upload.
      We provide corresponding Xib files and assets packaged as a Xcode project.  
    </p>
    <div class="details clear">
      <ul class="psd">
        <li class="heading">Making the Psd</li>
        <li class="">Follow your usual design methods, no limitations </li>
        <li class="">Rename and structure the layers as per the <a href="">guidelines</a></li>
        <li class="">Upload, preview and publish for assets and Xcode project</li>
      </ul>
      <ul class="code">
        <li class="heading">Getting the Code</li>
        <li class="">Check the  <a href="">requirements</a> for the Psd before uploading.</li>
        <li class="">Preview the design, publish to download.</li>
        <li class="">Unzip the file, run the project with Xcode.<br /> Build with simulator.</li>
      </ul>
    </div>
  </div>
  <div id="pricing">
    <h2>Pricing</h2>
    <div class="clear">
      <ul class="free">
        <li class="icon">&nbsp;</li>
        <li class="heading">Free</li>
        <li class="note">Speed up development</li>
        <li class="info">Get 50 points which <br /> convert up to 50 Psd’s</li>
        <li class=""><a href="" class="ybttn">Get name now!</a></li>
      </ul>
      <!--<ul class="pro">
        <li class="icon">&nbsp;</li>
        <li class="heading">Free</li>
        <li class="note">Speed up development</li>
        <li class="info">Get 25 points which convert up to 25 Psd’s</li>
        <li class=""><a href="">Get name now!</a></li>
      </ul>
      <ul class="teams">
        <li class="icon">&nbsp;</li>
        <li class="heading">Free</li>
        <li class="note">Speed up development</li>
        <li class="info">Get 25 points which convert up to 25 Psd’s</li>
        <li class=""><a href="">Get name now!</a></li>
      </ul>-->
    </div>
  </div>
  <div id="roadmap">
    <h2>Road ahead</h2>
    <!--<p class="note">
      Pellentesque habitant morbi tristique senectus et netus
      malesuada fames ac turpis egestas. Vestibulum tortor
      quam, feugiat vitae, ultricies eget, tempor sit amet, ante.
      Donec eu libero sit amet quam egestas semper.
    </p>-->
    <div class="clear set">
      <ul class="col">
        <li class="icon">&nbsp;</li>
        <li class="heading">UI controls</li>
        <li class="">
          table view <br />
          scroll view <br />
          tab bar
        </li> 
      </ul>
      <ul class="col middle">
        <li class="icon files">&nbsp;</li>
        <li class="heading">File Management</li>
        <li class="">
          Add Xib files to corresponding projects.
          Keep designs and code in sync.
        </li>
      </ul>
      <ul class="col">
        <li class="icon story">&nbsp;</li>
        <li class="heading">Story Boarding</li>
        <li class="">
          Coming Soon
        </li>
      </ul>
    </div>
  </div>
</div>

<!-- Adds the Filepicker.io javascript library to the page -->
<script src="https://api.filepicker.io/v0/filepicker.js"></script>
<script type="text/javascript">
    //Seting up Filepicker.io with your api key
    filepicker.setKey('AUS33DYKaTl6eYH4HJC73z');
</script>

<script>
$('#upload').bind('click', function() {
  filepicker.getFile('*/*', function(url, data){
    $.ajax({
      type: 'POST',
      url: '/upload',
      data: {data: data, url: url},
      success: function(data) { $('body').append(data); }
    });
  });
});

function selectTab(me, tab) {
  $('#designer-content').hide();
  $('#developer-content').hide();
  $($(me).parent().parent().children()[0]).children().removeClass('active');
  $($(me).parent().parent().children()[1]).children().removeClass('active');
  $(me).addClass('active');
  switch(tab) {
    case 0:
      $('#developer-content').show();
    break;
    case 1:
      $('#designer-content').show();
    break;
  }
}
</script>
