<!doctype html>
<head>
  <meta charset="utf-8">
  <title></title>
  <meta name="description" content="">
  <!-- Mobile viewport optimized: h5bp.com/viewport -->
  <meta name="viewport" content="width=device-width">
   <link rel="stylesheet" href="css/reset.css">
  <link rel="stylesheet" href="css/style.css">
  <script src="js/libs/modernizr-2.5.3.min.js"></script>
</head>
<body>
  <div class="wrapper">
    <div class="header layout clear">
      <div id="logo" class="alignLeft fl">Logo</div>
      <ul class="nav">
        <li><a href="" class="ybttn">Credits</a></li>
        <li><a href="" class="lnk">Username</a></li>
      </ul>
    </div>
    <div class="main">
      <div id="work" class="layout">
        <h2>
          How it works
          <span class="">Supported Controls</span>
        </h2>
        <div class="controls layout">
          <div class="blk" id="imageview">
            <h3>UI ImageView</h3>
            <div class="clear rulz">
              <p class="info">
                <span>Group name = Image,</span><br />
                All layers inside will get falltened.<br />
                The group with name 'Image' is supported as <span>UIImageView Control</span>.
              </p>
              <div class="clear thumb">
                <div class="design col">
                  <h4>Design</h4>
                  <div class="holder">
                    <div>&nbsp;</div>
                  </div>
                </div>
                <div class="psd col">
                  <h4>Psd</h4>
                  <div class="holder">
                    <div>&nbsp;</div>
                  </div>
                </div>
                <div class="xcode col">
                  <h4>Xcode</h4>
                  <div class="holder">
                    <div>&nbsp;</div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="blk" id="labelview">
            <h3>UI LabelView</h3>
            <div class="clear rulz">
              <p class="info">
                <span>Type text layer = UILabel,</span><br />
                All type text layer elements will be rendered <span>as UI labelView.</span>
              </p>
              <div class="clear thumb">
                <div class="design col">
                  <h4>Design</h4>
                  <div class="holder">
                    <div>&nbsp;</div>
                  </div>
                </div>
                <div class="psd col">
                  <h4>Psd</h4>
                  <div class="holder">
                    <div>&nbsp;</div>
                  </div>
                </div>
                <div class="xcode col">
                  <h4>Xcode</h4>
                  <div class="holder">
                    <div>&nbsp;</div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="blk" id="buttonview">
            <h3>UI ButtonView</h3>
            <div class="clear rulz">
              <p class="info">
                <span>Folder name = button,</span><br />
                <span>The group is suported as UIButtonView.</span><br />
                The type text layer becomes the label for the button and <br />
                rest of the layers will become background image for the button.
              </p>
              <div class="clear thumb">
                <div class="design col">
                  <h4>Design</h4>
                  <div class="holder">
                    <div>&nbsp;</div>
                  </div>
                </div>
                <div class="psd col">
                  <h4>Psd</h4>
                  <div class="holder">
                    <div>&nbsp;</div>
                  </div>
                </div>
                <div class="xcode col">
                  <h4>Xcode</h4>
                  <div class="holder">
                    <div>&nbsp;</div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="blk" id="tfview">
            <h3>UI TextFieldView</h3>
            <div class="clear rulz">
              <p class="info">
                <span>Folder name = textfield,</span><br />
                <span>The group is suported as UITextFieldView.</span><br />
                The type tool text layer becomes the placeholder text and <br /> rest of the layers will become background image for the button.
              </p>
              <div class="clear thumb">
                <div class="design col">
                  <h4>Design</h4>
                  <div class="holder">
                    <div>&nbsp;</div>
                  </div>
                </div>
                <div class="psd col">
                  <h4>Psd</h4>
                  <div class="holder">
                    <div>&nbsp;</div>
                  </div>
                </div>
                <div class="xcode col">
                  <h4>Xcode</h4>
                  <div class="holder">
                    <div>&nbsp;</div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="blk" id="barview">
            <h3>UI NavigationBar</h3>
            <div class="clear rulz">
              <p class="info">
                <span>Folder name = Bar,</span><br />
                <span>The group is suported as UINavigationBar</span><br />
                All layers inside will get falltened.
              </p>
              <div class="clear thumb">
                <div class="design col">
                  <h4>Design</h4>
                  <div class="holder">
                    <div>&nbsp;</div>
                  </div>
                </div>
                <div class="psd col">
                  <h4>Psd</h4>
                  <div class="holder">
                    <div>&nbsp;</div>
                  </div>
                </div>
                <div class="xcode col">
                  <h4>Xcode</h4>
                  <div class="holder">
                    <div>&nbsp;</div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <footer>

    </footer>
  </div>
</body>
</html>
