<% layout('../layout') -%>
<h1><%= title %></h1>
<p>Welcome to <%= title %></p>

<script type="text/javascript">
setInterval(function() {
  $.ajax({
      type: 'GET',
      url: '/status',
      success: function(data) { console.log(data)},
    });
}, 1000);
</script>
