<% layout('../layout') -%>
<% if (message) { %>
<p><%= message %></p>
<% } %>

<div class="header">
  <div id="logo">Logo</div>
</div>
<div class="main">
  <div id="login" class="layout">
    <div class="sampleApp">
      <div>&nbsp;</div>
    </div>
    <div class="actionForm">
      <div class="holder clear">
        <h3>Sign In</h3>
        <a href="/register" class="bttn">Create an Account</a>
      </div>
      <p class="note">
        Pellentesque habitant morbi tristique senectus et netus et
        malesuada fames ac turpis egestas. Vestibulum tortor quam
      </p>
      <form action="/login" method="post" id="" >
        <input type="text" value="Username" class="inputField" name="username" onFocus="this.value=''" />
        <input type="password" value="Password" class="inputField" name="password" onFocus="this.value=''" />
        <input type="submit" value="Sign In " class="ybttn submitBttn" />
      </form>
    </div>
  </div>
</div>
<footer>

</footer>
