<% layout('../layout') -%>
<% if (message) { %>
<p><%= message %></p>
<% } %>

Reset password

<form method="POST" action="/reset_password">
<label>Email</label>
<input name="email" type="text" />
<input type="submit" />
</form>
